@height: 76px;

.m-timer-picker {
  display: inline-block;
  padding: 0 12px;
  user-select: none;
  background: #FFF;
  border-radius: 8px;

  .u-timer {
    display: flex;
    user-select: none;

    .month {
      width: 100px;
      height: @height;
      padding: 12px 0;
      font-size: 22px;
      font-weight: 700;
      line-height: @height;
      text-align: center;
      vertical-align: middle;
    }

    .week {
      display: flex;
      flex: 1;
    }

    .operation {
      display: inline-block;
      width: 40px;
      height: 88px;
      line-height: 88px;
      text-align: center;
      cursor: pointer;
    }

    .timer-area {
      display: flex;
      padding: 12px;

      .u-cell {
        display: inline-block;
        flex: 1;
        min-width: 40px;
        height: 56px;
        padding: 8px;
        margin: 4px;
        text-align: center;
        cursor: pointer;
        user-select: none;
      }

      .u-selected {
        font-weight: bolder;
        color: #FFF;
        background: #C00000;
        border-radius: 20px;
      }

      .header {
        font-weight: bold;
      }
    }

    .out-time {
      color: #CCC;
      cursor: not-allowed;
    }
  }

  .u-footer {
    margin-bottom: 12px;
    text-align: center;
  }
}
